.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.db-table {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ddd;
}

.db-table tbody {
    color: white;
    background-color: #666;
}

.db-table th,
.db-table td {
    padding: 12px;
    text-align: left;
}

.db-table th {
    background-color: #666;
    color: white;
}

.db-table td {
    border: 1px solid #ffffff;
    background-color: #080707;
}

.eventId {
    display: none;
}
.controls {
    background-color: aqua;
    width: 50%;
    height: 120%;
    float:center;
}

.rsoControls {
    background-color: greenyellow;
}

.universityControls {
    background-color: black;
}
.eventsControls {
    background-color: rgb(221, 85, 7);
}
.controlsB{
    width: 120px;
    height: 70px;
}