.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.db-table {
    border-collapse: collapse;
    width: 80%;
    /* border: 1px solid #ddd; */
    border: 2.5px solid #cb997e;

}

.db-table tbody {
    /* color: white; */
    color: black;
    background-color: #666;
}

.db-table th,
.db-table td {
    padding: 12px;
    text-align: left;
}

.db-table th {
    /* background-color: #666; */
    background-color: #6b705c;
    color: white;
}

.db-table td {
    border: 1px solid #ffffff;
    /* background-color: #080707; */
    background-color: #f1ecdb;
}

.eventId {
    display: none;
}
/* .controls {
    background-color: aqua;
    width: 50%;
    height: 120%;
    float:center;
} */

/* .rsoControls {
    background-color: greenyellow;
}

.universityControls {
    background-color: black;
}
.eventsControls {
    background-color: rgb(221, 85, 7);

} */
.controlsB{
    margin: 5px;
    font-size: 25px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #ddbea9;
    border: 2.5px solid #cb997e;
    border-radius: 5px; 
    font-family: "Times New Roman";
}
.modify{
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #ddbea9;
    border: 2.5px solid #cb997e;
    border-radius: 5px; 
    margin: 4px;
}
