.popup{
    margin-left: 50%;
    margin-top: 25%;
    position: fixed;
    top: 0;
    left: 0;
    width: 550px;
    height: 630px;
    max-height: 100%;
    background-color: #6b705c;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border: 5px solid#cb997e;
    padding: 10px 10px;
}
.pop-up-inner{
    width: 450px;
    height: 450px;
    /* background-color: #ddbea9; */
}
.pop-up-inner .popup-close-btn{
    margin: 5px;
    font-size: 25px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #ddbea9;
    border: 2.5px solid #cb997e;
    border-radius: 5px; 
    font-family: "Times New Roman";
    margin-left: 38%;
}